body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

p {
    font-size: 18px;
}

.board {
    visibility: hidden;
}

#key-press {
    visibility: visible;
}

/* #paragraph {
    color: aqua;
} */

